/*-- scss:defaults --*/

.quarto-title-block .quarto-title-banner {
  background-image: url(logo.png);
  background-size: 15vw;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 10vw;
  background-origin: content-box;
}
